<div class="form-group">
    <label for="name">Name</label>
    <input required type="text" name="name" id="name" class="form-control">
</div>
<div class="form-group">
    <label for="size">Size</label>
    <input required type="text" name="size" id="size" class="form-control">
</div>
<div class="form-group">
    <label for="price">Price</label>
    <input required type="number" name="price" id="price" class="form-control">
</div>
<div class="form-group">
    <label for="expday">EXP Date</label>
    <input required type="date" name="expday" id="expday" class="form-control">
</div>
<div class="form-group">
    <label for="number">Number</label>
    <input required type="number" name="number" id="number" class="form-control">
</div>
<div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" id="description" class="form-control"></textarea>
</div>
